<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/about.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="./index.js" defer></script>
    <title>Easy Money Home | About Us</title>
</head>

<body>
    <nav>
        <div class="container container__nav">
            <div class="logo">
                <a href="./index.html"><span>EASY MON</span>EY HOME</a>
            </div>
            <div class="menu">
                <ul class="links">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                    <li><a href="./login.html">Sign In</a></li>
                </ul>
                <button type="button" id="open-menu"><i class="uil uil-bars"></i></button>
                <button type="button" id="close-menu"><i class="uil uil-times"></i></button>
            </div>
        </div>
    </nav>
    <main>
        <div class="container container__intro">
            <h1>About Us</h1>
            <p>
                Easy Money Home has been around for three years now serving both those in South Africa and Zimbabwe. We have built relationships with our clients and fullfilled our promises. At the heart of our culture is committment to perfection, providing the best services our clients needs. Our company was proudly founded by Zimbabweans and is run by Zimbabweans, your trusted homeboys.
            </p>
        </div>
    </main>
    <section class="mission">
        <div class="container container__mission">
            <div class="left__mission">
                <img src="../public/images/testing.svg" alt="Mission statement">
            </div>
            <div class="right__mission">
                <h2>Vision</h2>
                <p>
                    Our vision is to create a better everyday life for many people.
                </p>
                <h2>Mission</h2>
                <p>
                    A team of professionals committed to providing insight to our partners through innovation, efficiency and transparency while maintaining fiscal integrity.
                </p>
            </div>
        </div>
    </section>
    <section class="values">
        <div class="container container__values">
            <h2>Our Values</h2>
            <div class="cards">
                <div class="card">
                    <h4>Transparency</h4>
                    <p>
                        We facilitate accountability, allowing the public to better understand how our actions serve their best interest and are consistent with existing mandates, with the ultimate goal of increasing effectiveness.
                    </p>
                </div>
                <div class="card">
                    <h4>Honesty</h4>
                    <p>

                        We are open to our customers and expect them to be open us too. These open conversations not only build strong relationships, but they create opportunities for us to truly help customers.
                    </p>
                </div>
                <div class="card">
                    <h4>Reliability</h4>
                    <p>
                        We strive to facilitate results that are significant, consistent and effective to our customers.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="reason">
        <div class="container">
            <h2>Why Do We Exist?</h2>
        </div>
        <div class="container container__reason">
            <div class="left__reason">
                <p>
                    We serve as an intermediary between senders and recipients of money between Zimbabwe and South Africa, and execute transactions involving cash, that was somewhat impossible to do in a secure way in the past. Not only do we exist to make this secure, but to make it easier as well as instant and seemless.
                </p>
            </div>
            <div class="right__reason">
                <img src="../public/images/man-thinking-while-doing-work-in-laptop.png" alt="Reason of existance">
            </div>
        </div>
    </section>
    <section class="why">
        <div class="container">
            <h2><span>Why</span> Choose Us?</h2>
        </div>
        <div class="container container__why">
            <ul class="reasons">
                <li>
                    <img src="../public/images/fast.svg" alt="Why us">
                    <h4>Instant transfer</h4>
                    <p>
                        We make sure your money gets to the intended recipient almost instantly. It's just a click of a button and it is done!
                    </p>
                </li>
                <li>
                    <img src="../public/images/reliable.png" alt="Why us">
                    <h4>Reliable services</h4>
                    <p>
                        It has been three years in the business with satisfied clients. Our reputation exceeds us!
                    </p>
                </li>
                <li>
                    <img src="../public/images/relationship.svg" alt="Why us">
                    <h4>Friendly Staff</h4>
                    <p>
                        Ever visited any of our offices? Or contacted our support team? You would wish you kept visiting us, or that technical problem kept happening. We pride ourselves in taking care of our customers and assisting them in every way possible.
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <section class="team">
        <div class="container container__team">
            <h2>Our Management Team</h2>
            <ul class="team">
                <li>
                    <div class="avatar">
                        <img src="../public/images/maxwell.jpeg" alt="Why us">
                    </div>
                    <h4>Maxwell Gwauya<br><small>Finance Manager</small></h4>
                    <p>
                        Possesses an eager interest in the world of commerce and finance and have pursued a career in finance. Believe that careful and bold planning is the key to success in the trading world, and this is why he was very keen to follow an advanced course in business management.
                    </p>
                </li>
                <li>
                    <div class="avatar">
                        <img src="../public/images/joel.webp" alt="Why us">
                    </div>
                    <h4>Joel Mudaose<br><small>Operations Manager</small></h4>

                    <p>
                        Pragmatic, commercially-astute senior operations manager, with over 10 years’ experience leading financial activities on a regional basis. Recognised for improving financial performance by enhancing supply chain processes which generated a four thousand pound cost saving.
                    </p>
                </li>
                <li>
                    <div class="avatar">
                        <img src="../public/images/saul.webp" alt="Why us">
                    </div>
                    <h4>Saul Madzika<br><small>Accounts Director</small></h4>
                    <p>
                        Highly-motivated, deadline-committed, goal-driven accountant with over 7 years of experience. Proven track record of excellence. Dependable, experienced and focused accounting professional.
                    </p>
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <div class="container container__footer">
            <div class="logo">
                <a href="./index.html"><span>EASY MON</span>EY HOME</a>
            </div>
            <div class="footer__menu">
                <ul class="footer__links">
                    <li><a href="#">Our Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="./index.html#faqs">FAQs</a></li>
                </ul>
            </div>
            <div class="newsletter">
                <p>Subscribe to our newsletter and stay up to date.</p>
                <form action="#">
                    <input type="text" placeholder="Email address">
                    <button type="submit">Subscribe</button>
                </form>
                <ul>
                    <li><a href="#"><i class="uil uil-facebook-f"></i></a></li>
                    <li><a href="#"><i class="uil uil-twitter-alt"></i></a></li>
                    <li><a href="#"><i class="uil uil-instagram"></i></a></li>
                    <li><a href="#"><i class="uil uil-linkedin-alt"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="container container__copyright">
            <div class="copyright">
                <p>Copyright &COPY; 2023, Easy Money Home. All rights reserved.</p>
                <p>Designed and developed with love by <a href="https://www.pritchardmambambo.tech">Pritchard Mambambo</a></p>
            </div>
        </div>
    </footer>
</body>

</html>