<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="./index.js" defer></script>
    <title>Easy Money Home | Home Page</title>
</head>

<body>
    <nav>
        <div class="container container__nav">
            <div class="logo">
                <a href="./index.html"><span>EASY MON</span>EY HOME</a>
            </div>
            <div class="menu">
                <ul class="links">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                    <li><a href="./login.html">Sign In</a></li>
                </ul>
                <button type="button" id="open-menu"><i class="uil uil-bars"></i></button>
                <button type="button" id="close-menu"><i class="uil uil-times"></i></button>
            </div>
        </div>
    </nav>
    <main>
        <div class="container container__main">
            <div class="left__main">
                <p><img src="../public/images/main.webp" alt="Main image"></p>
            </div>
            <div class="right__main">
                <h1>Send Money Home The Easy Way!</h1>
                <p>
                    Sending money home has never been this easy! It's all at your fingertips now! You can now send money to/from Zimbabwe to/from South Africa at the convenience of your own home, all you need is an Internet connected laptop/smart phone and some cash in your bank/PayPal account. Just make the transaction from wherever you are and we will handle the rest for you!
                </p>
                <a href="./signup.html">Get Started</a>
            </div>
        </div>
    </main>
    <section class="about">
        <div class="container container__about">
            <div class="left__about">
                <h2>About Easy Money Home</h2>
                <p>
                    Easy Money Home has been around for three years now serving both those in South Africa and Zimbabwe. We have built relationships with our clients and fullfilled our promises. At the heart of our culture is committment to perfection, providing the best services our clients needs. Our company was proudly founded by Zimbabweans and is run by Zimbabweans, your trusted homeboys.
                </p>
                <a href="./about.html">Learn More</a>
            </div>
            <div class="right__about">
                <img src="../public/images/female-depositing-cash-in-bank.svg" alt="About image">
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container services__h2">
            <h2>Our Services</h2>
        </div>
        <div class="container container__services">
            <div class="left__services">
                <img src="../public/images/send-money.svg" alt="Our services">
            </div>
            <div class="right__services">
                <div class="service__1">
                    <img src="../public/images/zimbabwe.svg" alt="Send money to zimbabwe">
                    <p>
                        We have many collection points in Zimbabwe. Just check out on the drop down menu for your town. You can collect at any of these points while you are in Zimbabwe. If we are yet to open a point in your city, ping us. The city with most requests gets the collection point faster.
                    </p>
                </div>
                <div class="service__2">
                    <img src="../public/images/south.svg" alt="Send money to South Africa">
                    <p>
                        You can also receive money from Zimbabwe through us. We have colection points in South Africa too, though they are few. We do not leave out those without bank accounts, you can come to our offices as of old times and send money to your loved ones.
                    </p>
                </div>
                <a href="./login.html">Start Now</a>
            </div>
        </div>
    </section>
    <section class="testimonials container testimonials__container mySwiper">
        <h2>What Our Clients Say About Us</h2>
        <div class="swiper-wrapper">
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../public/images/dennis.jpeg" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Dennis Moyo</h5>
                    <small>Pretoria, South Africa</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        This is what we have always wanted. In love with your services.
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../public/images/evelyn.jpeg" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Evelyn Seke</h5>
                    <small>Ngundu, Zimbabwe</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        I never imagined that sending money home will be much easier. Thank you Easy Money Home.
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../public/images/melusi.webp" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Melusi Gono</h5>
                    <small>Rutenga, Zimbabwe</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Awesome team! You guys continue doing the good work.
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../public/images/paige.jpeg" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Paige Qhetu</h5>
                    <small>Polokwane, South Africa</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Thank you for the wonderful experience! I can now send money home with ease.
                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="../public/images/kevin.jpeg" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Kevin Mhizha</h5>
                    <small>CapeTown, South Africa</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        The team was very supportive and helped me resolve my issues.
                    </p>
                </div>
            </article>
        </div>
        <div class="swiper-pagination"></div>
    </section>
    <footer>
        <div class="container container__footer">
            <div class="logo">
                <a href="./index.html"><span>EASY MON</span>EY HOME</a>
            </div>
            <div class="footer__menu">
                <ul class="footer__links">
                    <li><a href="#">Our Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#faqs">FAQs</a></li>
                </ul>
            </div>
            <div class="newsletter">
                <p>Subscribe to our newsletter and stay up to date.</p>
                <form action="#">
                    <input type="text" placeholder="Email address">
                    <button type="submit">Subscribe</button>
                </form>
                <ul>
                    <li><a href="#"><i class="uil uil-facebook-f"></i></a></li>
                    <li><a href="#"><i class="uil uil-twitter-alt"></i></a></li>
                    <li><a href="#"><i class="uil uil-instagram"></i></a></li>
                    <li><a href="#"><i class="uil uil-linkedin-alt"></i></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="container container__copyright">
            <div class="copyright">
                <p>Copyright &COPY; 2023, Easy Money Home. All rights reserved.</p>
                <p>Designed and developed with love by <a href="https://www.pritchardmambambo.tech">Pritchard Mambambo</a></p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        let swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },

            // on screens >= 600px
            breakpoints: {
                600: {
                    slidesPerView: 2
                }
            }
        });
    </script>
</body>

</html>