<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Money Home | Sign In</title>
</head>

<body>
    <nav>
        <div class="container container__nav">
            <div class="logo">
                <span>EASY MON</span>EY HOME
            </div>
            <div class="menu">
                <ul class="links">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about.html">About Us</a></li>
                    <li><a href="./contact.html">Contact Us</a></li>
                    <li><a href="./login.html">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="payment">
        <div class="container container__payment">
            <div class="form">
                <img src="../images/payment.png" alt="Make a payment">
                <h4>Please fill in all the sections</h4>
                <form action="#" method="post">
                    <label for="fname">Receiver Name:</label>
                    <input type="text" name="fname" id="fname" placeholder="Receiver's First Name" required>
                    <label for="name">Receiver's Last Name:</label>
                    <input type="text" name="lname" id="lname" placeholder="Receiver's Last Name" required>
                    <label for="cell">Receiver's WhatsApp Number</label>
                    <input type="tel" name="cell" id="cell">
                    <label for="city">Select Receiver's Town:</label>
                    <select name="city" id="city">
                        <option value="ngundu">Ngundu</option>
                        <option value="masvingo">Masvingo</option>
                        <option value="chikofa">Chikofa</option>
                        <option value="nyajena">Nyajena</option>
                        <option value="nyamande">Nyamande</option>
                        <option value="rutenga">Rutenga</option>
                    </select>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </section>
    <footer>
        <div class="container container__footer">
            <div class="logo">
                <span>EASY MON</span>EY HOME
            </div>
            <div class="footer__menu">
                <ul class="footer__links">
                    <li><a href="#">Our Terms</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="./index.html#faqs">FAQs</a></li>
                </ul>
            </div>
            <div class="socials">
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>
            <hr>
            <div class="copyright">
                <p>Copyright &COPY; 2023, Easy Money Home. All rights reserved.</p>
                <p>Designed and developed with love by <a href="https://www.pritchardmambambo.tech">Pritchard Mambambo</a></p>
            </div>
        </div>
    </footer>
</body>

</html>